@import '../../style-vars/style-vars.scss';

.info-container{
  width: $infoContainerWidth;
  border: 4px solid $firstColor;
  border-radius: $borderRadius;
  padding: 20px;

  .info-container-list{
    list-style: none;
    li{
      display: flex;
      justify-content: space-between;
      gap: 0 80px;
    }
  }

  .info-types{
    margin: 10px 0 0 0;
    .info-types-container{
      display: flex;
      justify-content: space-around;
      margin: 12px 0 0 0;
    }
    span{
      padding: 5px;
      color: $secondColor;
      border-radius: $borderRadius;
    }
  }
}