<header class="header">
  <div class="title-container">
    <h1>Pokedex</h1>
    <img src="assets/img/pokeball.png" alt="" class="pokeball">
  </div>
</header>

<div class="search-bar">
  <app-search (pokemonIdOut)="pokemonIdCatch($event)"></app-search>
  <app-basic-info
    [pokemonInfoIn]="pokemonGeneral"
    [pokemonTypesIn]="pokemonTypes"
  ></app-basic-info>
</div>



<div class="content-container-center">
  <div class="content-container">
    <app-visualizer #visualizer
    class="visualizer"
    [pokemonVisualizerIn]="pokemonVisualizer"
    [pokemonTypesIn]="pokemonTypes"
    [pokemonGeneralIn]="pokemonGeneral"
    [loadingIn$]="loading$"
  ></app-visualizer>
  <app-stats #stats
    class="stats"
    [pokemonStatsIn]="pokemonStats"
    [pokemonGeneralIn]="pokemonGeneral"
    [loadingIn$]="loading$"
  ></app-stats>
  </div>
</div>


<footer>
  <p>by Jesus Lozada</p>
  <h3>jesuselozada@gmail.com</h3>
</footer>